﻿.menu-box {
    border: 1px solid #9f9e9e;
    width: 25%;
    height: 25%;
    vertical-align: middle;
    text-align: center;
    margin: 50px 50px;
}

#CriteriaDiv {
    width: 100%;
    height: 150px;
}

    #CriteriaDiv table {
        width: 100%;
    }

    #CriteriaDiv td {
        width: 25%;
    }

    #CriteriaDiv fieldset {
        padding: 20px;
    }

    #CriteriaDiv input[type="radio"] {
        margin-right: 20px;
    }

.left-chart-div {
    width: 501px;
    height: 501px;
}

.right-chart-div {
    width: 501px;
    height: 501px;
    float: left;
    position: absolute;
}

.data-not-found {
    padding: 50px;
    font-size: 3em;
}

.total-div {
    float: left;
    padding: 10px;
}

.total-container{
    margin: 10px; 
    position: absolute;
}